<!-- 
  Developed by JRuiPinto
  https://github.com/jruipinto

  Credits to:
  http://ivylab.space/
  https://source.unsplash.com/
 -->

<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<!-- 
  Check carousel docs at http://ivylab.space/carousel
 -->

<div class="outer">
  <carousel
    [cellsToShow]="5"
    [loop]="true"
    [autoplay]="true"
    [autoplayInterval]="3000"
  >
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <img src="https://source.unsplash.com/800x600/?nature" alt="" />
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="card">
      <h1>Carousel</h1>
      <h2>Angular</h2>
    </div>
  </div>

</carousel>
</div>
